[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/abseil/googletest.git
[submodule "thirdparty/P0267_RefImpl"]
	path = thirdparty/P0267_RefImpl
	url = https://github.com/cpp-io2d/P0267_RefImpl
