[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/abseil/googletest.git
